<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/timetablejs.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
    <title>
    {% if title %}
    {{ title }} - GYM
    {% else %}
    Welcome - GYM
    {% endif %}
    </title>

</head>
<body>
<!-- Home navigation bar which is specific to authentication level-->
    <ul class="nav justify-content-center">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a href="{{ url_for('index') }}" class="nav-link">Home</a>
        </li>
        {% if membership_status %}
		<li class="nav-item">
            <a href="{{ url_for('cancel_membership') }}" class="nav-link">Cancel Membership</a>
        </li>
		{% else %}
		<li class="nav-item">
            <a href="{{ url_for('get_membership') }}" class="nav-link">Membership</a>
        </li>
		{% endif %}
        <li class="nav-item">
            <a href="{{ url_for('make_booking_stage_1') }}" class="nav-link">Booking</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('cancel_booking') }}" class="nav-link">Cancel Booking</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('view_receipts') }}" class="nav-link">View Receipts</a>
        </li>

        {% if current_user.allowed(2) %}
        <li class="nav-item">
            <a href="{{ url_for('manager') }}" class="nav-link">Manager</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a href="{{ url_for('login') }}" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('login_employee') }}" class="nav-link">Employee Login</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('register') }}" class="nav-link">Register</a>
        </li>
        {% endif %}
    </ul>
{% block content %}{% endblock %}
</body>
<html>