{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="display-3 text-center">Make A Booking</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="text-danger">{{ message }} </p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h2>Facility: {{ facility }}</h2>
        <h3>Date: {{ date }}</h3>
        <h3>Activity: {{ activity }}</h3>
        <h3>Price: £{{ cost }}</h3><br>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.time_select.label }}<br>
                {{ form.time_select(class="form-control") }}
                {% for error in form.time_select.errors %}
                    <span class="text-danger">[{{ error }}]</span>
                {% endfor %}
            </div>
            {% if current_user.allowed(1) %}
                <div class="form-group">
                {{ form.user_email.label }}<br>
                {{ form.user_email }}
                {% for error in form.user_email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
            {% endif %}
            {{ form.submit(class="btn btn-success btn-block mb-2") }}
        </form>
    </div>
{% endblock %}