{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="display-3 text-center">Make A Booking</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="text-danger">{{ message }} </p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>Facility: {{ facility }}</h2>
    <h3>Date: {{ date }}</h3><br>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.activity_select.label }}<br>
            {{ form.activity_select(class="form-control") }}
            {% for error in form.activity_select.errors %}
                <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-success btn-block mb-2") }}
        </p>
    </form>
</div>
{% endblock %}