{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="display-3 text-center">Cancel Booking</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="text-danger">{{ message }} </p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.booking_select.label }}
            {{ form.booking_select(class="form-control") }}
        </div>
        {{ form.submit_button(class="btn btn-success btn-block mb-2") }}
    </form>
</div>
{% endblock %}