{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="display-3 text-center">Cancel Membership</h1>
	<p>Are you sure you want to cancel membership?</p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="text-danger">{{ message }} </p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.submit(class="btn btn-success btn-block mb-2") }}
    </form>
</div>
{% endblock %}