{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="display-3 text-center">Configure Facilities</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="text-danger">{{ message }} </p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <meta id="facilities" data-facilities="{{ facilities }}">
    <p>Click on a facility below to edit its properties. You can also add a
    facility and delete existing facilities by pressing the relevant buttons.
    Inside each facility you can add, modify or remove activities in a similar
    way. Press update to save your changes to the database.</p>
    <ul id="facility-list" class="list-group mb-2">

    </ul>
    <button class="btn btn-success btn-block" id="update">Update</button>
</div>
<script src="{{ url_for('static', filename='scripts/configure_facilities.js') }}"></script>
{% endblock %}