{% extends "base.html" %}

{% block content %}
<div class="container">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<p class="text-danger">{{ message }} </p>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<h1 class="display-3 text-center">Welcome</h1>
	{% if current_user.is_client %}
		<p>We offer the best possible gym experience to newbies and fitness veterans alike. Join our illustrious institution and gain access to our top class facilities. Unmatched variety and quality are the reason our members keep coming back year after year. "The perfect experience". That is how our current and future clients describe us. Join now!</p>
		<a class="btn btn-primary btn-block " href="{{ url_for('get_membership') }}">Buy Membership Here!</a>
	{% else %}
		<a href="{{ url_for('manager')}}"><button type="button" class="btn btn-primary btn-block">Manager Portal</button></a>

	{% endif %}
	<hr>
	
	<h1>Your Bookings</h1>
	{% if user_bookings is defined and user_bookings %}
	<ul class="list-group mb-2">
		{% for booking in user_bookings %}
		<li class="list-group-item">
			<h3>{{ booking.activity.get().to_dict().name }} in {{ booking.facility.get().to_dict().name }}</h3>
			<p>Start time: {{ booking.get('start time') }}</p>
			<p>End time: {{ booking.get('end time') }}</p>
		</li>
		{% endfor %}
	</ul>
	{% else %}
		<p>No bookings have been made</p>
	{% endif %}
	<a class="btn btn-primary btn-block " href="{{ url_for('cancel_booking') }}">Cancel your booking here</a>
	<hr>
	<h1>Timetable</h1>
	<p>To view the timetable for all facilities choose a date below.</p>
	<div class="row">
		<div class="col-lg-4">
			<input style="display: none;" id="date">
		</div>
		<div class="col-lg-8">
			<div class="timetable"></div>
		</div>
	</div>
</div>
<style>
	.flatpickr-calendar {
		margin-bottom: 1em;
	}
</style>
<script>
const fp = flatpickr("#date", {
	enableTime: false,
	dateFormat: "Y-m-d",
	allowInput: true,
	inline: true,
	defaultDate: Date.now()
});
</script>
<script src="{{ url_for('static', filename='scripts/timetable.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/home_timetable.js') }}"></script>

<style>
	img {
		width: 600px;
    	height: 400px;
    	object-fit: cover;
	}
	.center {
  		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
</style>
<h2 class="text-center">See below images of our facilities!</h2>
<div class="row">
	<div class="col md-4">
		<h3 class="text-center">Fitness Gym</h3>
		<img src="https://www.nuffieldhealth.com/local/da/18/86413a804a69951e0942862c3524/treadmills-at-our-ilford-gym.jpg"
			 alt="Fitness Gym" class="center">
	</div>
	<div class="col md-4">
		<h3 class="text-center">Swimming Pool</h3>
		<img src="https://www.liveborders.org.uk/wp-content/uploads/2019/02/Peebles-Swimming-Pool-Peebles.jpg"
			 alt="Swimming Pool" class="center">
	</div>
</div>
<br>
<div class="row">
	<div class="col md-4">
		<h3 class="text-center">Sports Hall</h3>
		<img src="https://www.perth.uhi.ac.uk/t4-media/one-web/perth/academy-of-sport-and-wellbeing/leisure-facilities/sports-hall/sports-hall-hire.jpg"
			 alt="Sports Hall" class="center">
	</div>
	<div class="col md-4">
		<h3 class="text-center">Squash Court</h3>
		<img src="https://www.imperial.ac.uk/ImageCropToolT4/imageTool/uploaded-images/FJG-Imperial_College-5497--tojpeg_1442922419136_x2.jpg"
			 alt="Squash Court" class="center">
	</div>
</div>

{% endblock %}