{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="display-3 text-center">Employee Login</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="text-danger">{{ message }} </p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="" method="post" novalidate>
        {{ log_in_form.hidden_tag() }}
        <div class="form-group">
            {{ log_in_form.email.label }}
            {{ log_in_form.email(class="form-control") }}
            {% for error in log_in_form.email.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ log_in_form.password.label }}
            {{ log_in_form.password(class="form-control") }}
            {% for error in log_in_form.password.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        {{ log_in_form.submit(class="btn btn-success btn-block") }}
    </form>
</div>
{% endblock %}