{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="display-3 text-center">Manager Portal</h1>
    <div class="row mb-4">
        <div class="col">
            <p>Welcome to the manager's portal. Here you can see employees and
            register new ones, view current registered users and see booking
            statistics and configure facilities and activities.</p>
        </div>
        <div class="col">
            <a class="btn btn-primary btn-block " href="{{ url_for('register_employee') }}">Register a new employee</a>
            <a class="btn btn-primary btn-block " href="{{ url_for('configure_facilities') }}">Configure facilities</a>
        </div>
    </div>
<!--    Graphically displays usage-->
    <h2 class="display-6 text-center">Weekly Facility Chart</h2>
    <canvas id="myChart" class="mb-4"></canvas>
    <div class="row mb-4">
        <div class="col">
            <h2 class="display-6 text-center">All-Time Income Distribution</h2>
            <canvas id="myPieChartIncome" class="mb-4"></canvas>
        </div>
        <div class="col">
            <h2 class="display-6 text-center">Weekly Income Distribution</h2>
            <canvas id="myPieChartIncomeWeekly" class="mb-4"></canvas>
        </div>
    </div>
<!--    Displays information regarding employees, users and bookings/income usage-->
    <div class="row">
        <div class="col-md-3 col-sm-6 mb-4 column">
            <h2 class="display-6 text-center">List of Employees</h2>
            <ul class="list-group overflow-auto">
                {% for employee in employees_list %}
                <li class="list-group-item">
                    <b>Name</b>
                    <p>{{ employee['name'] }}</p>
                    <b>Email</b>
                    <p>{{ employee['email'] }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 column">
            <h2 class="display-6 text-center">List of Users</h2>
            <ul class="list-group overflow-auto">
                {% for user in users_list %}
                <li class="list-group-item">
                    <b>Email</b>
                    <p>{{ user['email'] }}</p>
                    <b>Membership</b>
                    <p>{{ user['membership'] }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 column">
            <h2 class="display-6 text-center"> All-Time Statistics</h2>
                    <p>Total Bookings: {{ overall_bookings }}</p>
                    <p>Total Income: £{{ overall_income }}</p>
            <ul class="list-group overflow-auto">
                {% for facility in facilities.keys() %}
                <li class="list-group-item">
                    <b>{{ facilities[facility]['name'] }}</b>
                    <p>Bookings: {{ facility_overall_bookings[facility] }}</p>
                    <p>Income: £{{ facility_overall_income[facility] }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 column">
            <h2 class="display-6 text-center">Weekly Statistics</h2>
            <p>Total Bookings: {{ week_bookings }}</p>
            <p>Total Income: £{{ week_income }}</p>
            <ul class="list-group overflow-auto">
                {% for facility in facilities.keys() %}
                <li class="list-group-item">
                    <b>{{ facilities[facility]['name'] }}</b>
                    <p>Bookings: {{ facility_week_bookings[facility] }}</p>
                    <p>Income: £{{ facility_week_income[facility] }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <style>
        .column {
            display:flex;
            flex-direction:column;
            height: 500px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var facilities = {{ facility_names | list | safe }};
        var bookings = {{ facility_week_bookings.values() | list | safe }}
        var income = {{ facility_week_income.values() | list | safe }}

        var ctx = document.getElementById('myChart').getContext('2d');
        var chart1 = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: facilities,
                datasets: [{
                    label: 'Income',
                    backgroundColor: 'rgb(195, 66, 63)',
                    data: income,
                    yAxisID: 'left'
                },
                {
                    label: 'Bookings',
                    backgroundColor: 'rgb(155, 197, 61)',
                    data: bookings,
                    yAxisID: 'right'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        id: 'left',
                        type: 'linear',
                        position: 'left',
                        scaleLabel: {
                            display: true,
                            labelString: 'Income (£)'
                        }
                    },
                    {
                        id: 'right',
                        type: 'linear',
                        position: 'right',
                        scaleLabel: {
                            display: true,
                            labelString: 'No. of bookings'
                        },
                        gridLines: {
                            drawOnChartArea: false
                        },
                        ticks: {
                            callback: function(value){
                                if (value % 1 === 0) {
                                    return value;
                                }
                            }
                        }
                    }]
                },
                tooltips: {
                    mode: 'index',
                    intersect: true
                }
            }
        });

        var facilities = {{ facility_names | list | safe }};
        var bookings = {{ facility_overall_bookings.values() | list | safe }}
        var income = {{ facility_overall_income.values() | list | safe }}

        var ctx = document.getElementById('myPieChartIncome').getContext('2d');
        var chart2 = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: facilities,
                datasets: [{
                    label: 'Income',
                    backgroundColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00", "#001f3f", "#39CCCC", "#01FF70", "#85144b", "#F012BE", "#3D9970", "#111111", "#AAAAAA"],
                    data: income
                }]
            },
            options: {
                tooltips: {
                    mode: 'index',
                    intersect: true
                }
            }
        });

        var facilities = {{ facility_names | list | safe }};
        var bookings = {{ facility_week_bookings.values() | list | safe }}
        var income = {{ facility_week_income.values() | list | safe }}

        var ctx = document.getElementById('myPieChartIncomeWeekly').getContext('2d');
        var chart3 = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: facilities,
                datasets: [{
                    label: 'Income',
                    backgroundColor: ["#01FF70", "#85144b", "#F012BE", "#3D9970", "#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00"],
                    data: income
                }]
            },
            options: {
                tooltips: {
                    mode: 'index',
                    intersect: true
                }
            }
        });
    </script>
</div>

{% endblock %}