{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="display-3 text-center">Get Membership</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="text-danger">{{ message }} </p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.duration_select.label }}<br>
            {{ form.duration_select(class="form-control")}}
            {% for error in form.duration_select.errors %}
                <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-success btn-block mb-2") }}
    </form>
</div>
{% endblock %}