{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="display-3 text-center"> Payment Page </h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="text-danger">{{ message }} </p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h3>Enter Payment Details</h3>
    <form action="" method="post" novalidate>
        {{ payment_form.hidden_tag() }}
        <div class="form-group">
            {{ payment_form.card_type.label }}
            {{ payment_form.card_type(class="form-control") }}
        </div>
        <div class="form-group">
            {{ payment_form.cardholder_name.label }}
            {{ payment_form.cardholder_name(class="form-control") }}
            {% for error in payment_form.cardholder_name.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ payment_form.card_number.label }}
            {{ payment_form.card_number(class="form-control") }}
            {% for error in payment_form.card_number.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    {{ payment_form.expiry_month.label }}
                    {{ payment_form.expiry_month(class="form-control") }}
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    {{ payment_form.expiry_year.label }}
                    {{ payment_form.expiry_year(class="form-control") }}
                    {% for error in payment_form.expiry_year.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
            </div>  
        </div>
        <div class="form-group">
            {{ payment_form.security_code.label }}
            {{ payment_form.security_code(class="form-control") }}
            {% for error in payment_form.security_code.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
            {{ payment_form.submit(class="btn btn-success btn-block") }}
        <br>
    </form>
</div>
{% endblock %}