{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="display-3 text-center">Register an Employee</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="text-danger">{{ message }} </p>
    {% endfor %}
    {% endif %}
    {% endwith %}
<!--    Form for registering employees  -->
    <form action="" method="post" novalidate>
        {{ register_form.hidden_tag() }}
        <div class="form-group">
            {{ register_form.name.label }}
            {{ register_form.name(class="form-control") }}
            {% for error in register_form.name.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ register_form.email.label }}
            {{ register_form.email(class="form-control") }}
            {% for error in register_form.email.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ register_form.password.label }}
            {{ register_form.password(class="form-control") }}
            {% for error in register_form.password.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ register_form.password_confirm.label }}
            {{ register_form.password_confirm(class="form-control") }}
            {% for error in register_form.password_confirm.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ register_form.salary.label }}
            {{ register_form.salary(class="form-control") }}
            {% for error in register_form.salary.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        {{ register_form.submit(class="btn btn-success btn-block") }}
    </form>
</div>
{% endblock %}