{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="display-3 text-center">Register</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="text-danger">{{ message }} </p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="" method="post" novalidate>
        {{ register_form.hidden_tag() }}
        <div class="form-group">
            {{ register_form.first_name.label }}
            {{ register_form.first_name(class="form-control") }}
            {% for error in register_form.first_name.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ register_form.last_name.label }}
            {{ register_form.last_name(class="form-control") }}
            {% for error in register_form.last_name.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ register_form.email.label }}
            {{ register_form.email(class="form-control") }}
            {% for error in register_form.email.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ register_form.password.label }}
            {{ register_form.password(class="form-control") }}
            {% for error in register_form.password.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ register_form.password_confirm.label }}
            {{ register_form.password_confirm(class="form-control") }}
            {% for error in register_form.password_confirm.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        {{ register_form.submit(class="btn btn-success btn-block mb-2") }}
        <p> Already have an account? </p>
        <a href="{{ url_for('login') }}" class="btn btn-primary btn-block">Login here!</a>
    </form>
</div>
{% endblock %}